[Unit]
Description=API server deployer
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=oneshot
User=apiserver-deployer
Group=apiserver-deployer
PrivateTmp=true
ReadWritePaths=/opt/apiserver/versions
ExecStart=/usr/local/bin/apiserver-deployer
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
