[Unit]
Description=Caddy web server
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=caddy
Group=caddy
EnvironmentFile=/etc/caddy/env
ExecStartPre=/usr/local/bin/query-latest-repo-versions /etc/caddy/env-repo-versions
ExecStart=/usr/local/bin/caddy run --envfile /etc/caddy/env-repo-versions --config /etc/caddy/Caddyfile
KillSignal=SIGINT
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full
ReadWritePaths=/etc/caddy/env-repo-versions /home/caddy
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
