{
	admin off
	log {
		format console
	}
}

apt.{$DOMAIN_NAME} {
	tls {
		dns azure {
			tenant_id {$AZURE_TENANT_ID}
			subscription_id {$AZURE_SUBSCRIPTION_ID}
			resource_group_name fullstaq-ruby-infra-maintainers
			client_id {$AZURE_DNS_UPDATER_CLIENT_ID}
			client_secret {$AZURE_DNS_UPDATER_CLIENT_SECRET}
		}
	}
	encode gzip
	handle /admin/repo_query_time {
		respond "{$REPO_QUERY_TIME}"
	}
	handle /admin/* {
		reverse_proxy unix//run/apiserver/server.sock
	}
	handle {
		redir https://storage.googleapis.com/{$GCLOUD_BUCKET_PREFIX}-server-edition-apt-repo/versions/{$APT_LATEST_VERSION}/public{uri}
	}
}

yum.{$DOMAIN_NAME} {
	tls {
		dns azure {
			tenant_id {$AZURE_TENANT_ID}
			subscription_id {$AZURE_SUBSCRIPTION_ID}
			resource_group_name fullstaq-ruby-infra-maintainers
			client_id {$AZURE_DNS_UPDATER_CLIENT_ID}
			client_secret {$AZURE_DNS_UPDATER_CLIENT_SECRET}
		}
	}
	encode gzip
	handle /admin/repo_query_time {
		respond "{$REPO_QUERY_TIME}"
	}
	handle /admin/* {
		reverse_proxy unix//run/apiserver/server.sock
	}
	handle {
		redir https://storage.googleapis.com/{$GCLOUD_BUCKET_PREFIX}-server-edition-yum-repo/versions/{$YUM_LATEST_VERSION}/public{uri}
	}
}
