DOMAIN_NAME={{ domain_name }}
AZURE_TENANT_ID={{ azure_tenant_id }}
AZURE_SUBSCRIPTION_ID={{ azure_subscription_id }}
AZURE_DNS_UPDATER_CLIENT_ID={{ lookup('pipe', keyvault_get_dns_updater_client_id_command) }}
AZURE_DNS_UPDATER_CLIENT_SECRET={{ lookup('pipe', keyvault_get_dns_updater_client_secret_command) }}
GCLOUD_BUCKET_PREFIX={{ gcloud_bucket_prefix }}
